@import '@/assets/css/_breakpoints.scss';

// HELPER
@for $i from 0 through 30 {
  .mt#{$i * 4} {
    margin-top: #{$i * 4}px !important;
  }
  .mr#{$i * 4} {
    margin-right: #{$i * 4}px !important;
  }
  .mb#{$i * 4} {
    margin-bottom: #{$i * 4}px !important;
  }
  .ml#{$i * 4} {
    margin-left: #{$i * 4}px !important;
  }
  .pt#{$i * 4} {
    padding-top: #{$i * 4}px !important;
  }
  .pr#{$i * 4} {
    padding-right: #{$i * 4}px !important;
  }
  .pb#{$i * 4} {
    padding-bottom: #{$i * 4}px !important;
  }
  .pl#{$i * 4} {
    padding-left: #{$i * 4}px !important;
  }
  .fs#{$i * 1} {
    font-size: #{$i * 0.1}rem !important;
  }
  .lh#{$i * 2} {
    line-height: #{$i * 2}px !important;
  }
  .ls#{$i * 2} {
    letter-spacing: #{$i * 2}px !important;
  }
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.b {
  font-weight: 500;
}

.flex,
.df {
  display: flex;
}

.wf {
  width: 100% !important;
}

.wh {
  width: 50%;
}

.h90 {
  height: 90px;
}

.w270 {
  width: 270px !important;
}

.dn {
  display: none;
}

.cw {
  color: #fff;
}

.tdu {
  text-decoration: underline;
}

.tdn {
  text-decoration: none !important;
}

.f1 {
  flex: 1;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.acc {
  align-content: center;
}

.asfs {
  align-self: flex-start;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}

.aic {
  align-items: center;
}

.jcfe {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.img120 {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.dib {
  display: inline-block;
}

.cp {
  cursor: pointer;
}

.fdc {
  flex-direction: column;
}

.fww {
  flex-wrap: wrap;
}

.h100 {
  height: 100%;
}

.oxs {
  overflow-x: scroll;
}

.mincho {
  font-family: 'Noto Serif JP', serif;
}

.taj {
  text-align: justify;
}

.cp {
  cursor: pointer;
}

.db {
  display: block;
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.sp-none {
  display: none;
  @include mq(md) {
    display: unset;
  }
}

.pc-none {
  @include mq(md) {
    display: none;
  }
}
